<a href="https://colab.research.google.com/github/lvila001/CSC221_lvila001/blob/main/Assignment_4_Crash_Ch_3%2C_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
bicycles = ['trek', 'cannodale','redline', 'specialized' ]
print(bicycles)

['trek', 'cannodale', 'redline', 'specialized']

In [ ]:
bicycles = ['trek', 'cannodale','redline', 'specialized' ]
print(bicycles[0])

trek

In [ ]:
bicycles = ['trek', 'cannodale','redline', 'specialized' ]
print(bicycles[0].title())

Trek

In [ ]:
bicycles = ['trek', 'cannodale','redline', 'specialized' ]
print(bicycles[1])
print(bicycles[3])

cannodale
specialized

In [ ]:
bicycles = ['trek', 'cannodale','redline', 'specialized' ]
print(bicycles[-1])

specialized

In [ ]:
bicycles = ['trek', 'cannodale','redline', 'specialized' ]
message = f'my first bicicyle was a {bicycles[0].title()}.'
print(message)

my first bicicyle was a Trek.

In [ ]:
#3-1
friends = ['kyle', 'Matt', 'Kenny']
print(friends[0])
print(friends[1])
print(friends[2])

kyle
Matt
Kenny

In [ ]:
#3-2
friends = ['kyle', 'Matt', 'Kenny']
kyles_message = f'Hello {friends[0]}, how are you.'
Matts_message= f'Hello {friends[1]}, how are you.'
Kennys_message= f'Hello {friends[2]}, how are you.'

print(kyles_message)
print(Matts_message)
print(Kennys_message)

Hello kyle, how are you.
Hello Matt, how are you.
Hello Kenny, how are you.

In [ ]:
#3-3
vehicles = ['Race Car', 'Private jet', 'jet ski']
race_car_message = f"I would like to own a {vehicles[0]}."
private_jet_message = f"I would like to own a {vehicles[1]}."
jet_ski_message = f"I would like to own a {vehicles[2]}."
print(race_car_message)
print(private_jet_message)
print(jet_ski_message)

I would like to own a Race Car.
I would like to own a Private jet.
I would like to own a jet ski.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycles = motorcycles.pop(0)
print(motorcycles)
print(popped_motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']
honda

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

last_owned = motorcycles.pop()
print(f'The last motorcycle i owned was a {last_owned.title()}.')

['honda', 'yamaha', 'suzuki']
The last motorcycle i owned was a Suzuki.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

first_owned = motorcycles.pop(0)
print(f'The last motorcycle i owned was a {first_owned.title()}.')

['honda', 'yamaha', 'suzuki']
The last motorcycle i owned was a Honda.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f'\nA {too_expensive} is too expensive for me.')

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A ducati is too expensive for me.

In [ ]:
#3-4
dinner_list = ['Tom Segura', 'Zach Bryan', 'Tj Watt']
message_tom = f"hello {dinner_list[0]} you are invited for dinner "
message_zach = f"hello {dinner_list[1]} you are invited for dinner "
message_tj = f"hello {dinner_list[2]} you are invited for dinner "

print(message_tom)
print(message_zach)
print(message_tj)

hello Tom Segura you are invited for dinner
hello Zach Bryan you are invited for dinner
hello Tj Watt you are invited for dinner

In [ ]:
#3-5
dinner_list = ['Tom Segura', 'Zach Bryan', 'Tj Watt']
message_tom = f"hello {dinner_list[0]} you are invited for dinner "
message_zach = f"hello {dinner_list[1]} you are invited for dinner "
message_tj = f"hello {dinner_list[2]} you are invited for dinner "

print(message_tom)
print(message_zach)
print(message_tj)

print(f'\n{dinner_list[2]} cannot make it to dinner.')
cannot_attend = "Zach Bryan"
dinner_list.remove(cannot_attend)

dinner_list.insert(1, "Elon Musk")
print(dinner_list)
message_tom = f"\nhello {dinner_list[0]} you are invited for dinner "
message_elon = f"hello {dinner_list[1]} you are invited for dinner "
message_tj = f"hello {dinner_list[2]} you are invited for dinner "

print(message_tom)
print(message_elon)
print(message_tj)

hello Tom Segura you are invited for dinner
hello Zach Bryan you are invited for dinner
hello Tj Watt you are invited for dinner

Tj Watt cannot make it to dinner.
['Tom Segura', 'Elon Musk', 'Tj Watt']

hello Tom Segura you are invited for dinner
hello Elon Musk you are invited for dinner
hello Tj Watt you are invited for dinner

In [ ]:
#3-6
dinner_list = ['Tom Segura', 'Zach Bryan', 'Tj Watt']
message_tom = f"hello {dinner_list[0]} you are invited for dinner "
message_zach = f"hello {dinner_list[1]} you are invited for dinner "
message_tj = f"hello {dinner_list[2]} you are invited for dinner "

print(message_tom)
print(message_zach)
print(message_tj)

print(f'\n{dinner_list[2]} cannot make it to dinner.')
cannot_attend = "Zach Bryan"
dinner_list.remove(cannot_attend)

dinner_list.insert(1, "Elon Musk")
print(dinner_list)
message_tom = f"\nhello {dinner_list[0]} you are invited for dinner "
message_elon = f"hello {dinner_list[1]} you are invited for dinner "
message_tj = f"hello {dinner_list[2]} you are invited for dinner "

print(message_tom)
print(message_elon)
print(message_tj)

print('\nWe have found a bigger table with three more spots!')

dinner_list.insert(3,'Mark Zuckerberg')
dinner_list.insert(4,'Gordon Ramsey')
dinner_list.insert(5,'Jeff Bezos')

print(dinner_list)
message_tom = f"\nhello {dinner_list[0]} you are invited for dinner "
message_elon = f"hello {dinner_list[1]} you are invited for dinner "
message_tj = f"hello {dinner_list[2]} you are invited for dinner "
message_mark = f"hello {dinner_list[3]} you are invited for dinner "
message_gordon = f"hello {dinner_list[4]} you are invited for dinner "
message_bezos = f"hello {dinner_list[5]} you are invited for dinner "

print(message_tom)
print(message_elon)
print(message_tj)
print(message_mark)
print(message_gordon)
print(message_bezos)

hello Tom Segura you are invited for dinner
hello Zach Bryan you are invited for dinner
hello Tj Watt you are invited for dinner

Tj Watt cannot make it to dinner.
['Tom Segura', 'Elon Musk', 'Tj Watt']

hello Tom Segura you are invited for dinner
hello Elon Musk you are invited for dinner
hello Tj Watt you are invited for dinner

We have found a bigger table with three more spots!
['Tom Segura', 'Elon Musk', 'Tj Watt', 'Mark Zuckerberg', 'Gordon Ramsey', 'Jeff Bezos']

hello Tom Segura you are invited for dinner
hello Elon Musk you are invited for dinner
hello Tj Watt you are invited for dinner
hello Mark Zuckerberg you are invited for dinner
hello Gordon Ramsey you are invited for dinner
hello Jeff Bezos you are invited for dinner

In [ ]:
#3-5
dinner_list = ['Tom Segura', 'Zach Bryan', 'Tj Watt']
message_tom = f"hello {dinner_list[0]} you are invited for dinner "
message_zach = f"hello {dinner_list[1]} you are invited for dinner "
message_tj = f"hello {dinner_list[2]} you are invited for dinner "

print(message_tom)
print(message_zach)
print(message_tj)

print(f'\n{dinner_list[2]} cannot make it to dinner.')
cannot_attend = "Zach Bryan"
dinner_list.remove(cannot_attend)

dinner_list.insert(1, "Elon Musk")
print(dinner_list)
message_tom = f"\nhello {dinner_list[0]} you are invited for dinner "
message_elon = f"hello {dinner_list[1]} you are invited for dinner "
message_tj = f"hello {dinner_list[2]} you are invited for dinner "

print(message_tom)
print(message_elon)
print(message_tj)

print('\nWe have found a bigger table with three more spots!')

dinner_list.insert(3,'Mark Zuckerberg')
dinner_list.insert(4,'Gordon Ramsey')
dinner_list.insert(5,'Jeff Bezos')

print(dinner_list)
message_tom = f"\nhello {dinner_list[0]} you are invited for dinner "
message_elon = f"hello {dinner_list[1]} you are invited for dinner "
message_tj = f"hello {dinner_list[2]} you are invited for dinner "
message_mark = f"hello {dinner_list[3]} you are invited for dinner "
message_gordon = f"hello {dinner_list[4]} you are invited for dinner "
message_bezos = f"hello {dinner_list[5]} you are invited for dinner "

print(message_tom)
print(message_elon)
print(message_tj)
print(message_mark)
print(message_gordon)
print(message_bezos)

print('\nOh No... we were unable to get the bigger table. We can only fit two people')
popped_dinner_list_elon = dinner_list.pop(1)
popped_dinner_list_mark = dinner_list.pop(2)
popped_dinner_list_jeff = dinner_list.pop(3)
popped_dinner_list_tom = dinner_list.pop(0)

print(dinner_list)
print(f'im sorry {popped_dinner_list_elon} but you are univited from the dinner')
print(f'im sorry {popped_dinner_list_mark} but you are univited from the dinner')
print(f'im sorry {popped_dinner_list_jeff} but you are univited from the dinner')
print(f'im sorry {popped_dinner_list_tom} but you are univited from the dinner')

hello Tom Segura you are invited for dinner
hello Zach Bryan you are invited for dinner
hello Tj Watt you are invited for dinner

Tj Watt cannot make it to dinner.
['Tom Segura', 'Elon Musk', 'Tj Watt']

hello Tom Segura you are invited for dinner
hello Elon Musk you are invited for dinner
hello Tj Watt you are invited for dinner

We have found a bigger table with three more spots!
['Tom Segura', 'Elon Musk', 'Tj Watt', 'Mark Zuckerberg', 'Gordon Ramsey', 'Jeff Bezos']

hello Tom Segura you are invited for dinner
hello Elon Musk you are invited for dinner
hello Tj Watt you are invited for dinner
hello Mark Zuckerberg you are invited for dinner
hello Gordon Ramsey you are invited for dinner
hello Jeff Bezos you are invited for dinner

Oh No... we were unable to get the bigger table. We can only fit two people
['Tj Watt', 'Gordon Ramsey']
im sorry Elon Musk but you are univited from the dinner
im sorry Mark Zuckerberg but you are univited from the dinner
im sorry Jeff Bezos but you are univited from the dinner
im sorry Tom Segura but you are univited from the dinner

In [ ]:
cars = ['bmw', 'audi', 'toyata', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyata']

In [ ]:
cars = ['bmw', 'audi', 'toyata', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyata', 'subaru', 'bmw', 'audi']

In [ ]:
cars = ['bmw', 'audi', 'toyata', 'subaru']

print('\nhere is the original list:')
print(cars)

print("\nhere is the sorted list:")
print(sorted(cars))

print('\nhere is the original list again:')
print(cars)

here is the original list:
['bmw', 'audi', 'toyata', 'subaru']

here is the sorted list:
['audi', 'bmw', 'subaru', 'toyata']

here is the original list again:
['bmw', 'audi', 'toyata', 'subaru']

In [ ]:
cars = ['bmw', 'audi', 'toyata', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyata', 'subaru']
['subaru', 'toyata', 'audi', 'bmw']

In [ ]:
cars = ['bmw', 'audi', 'toyata', 'subaru']
len(cars)

4

In [ ]:
#3-8
locations = ['Greece', 'Italy', 'France', 'Hawaii', 'London']
print(locations)
print(sorted(locations))

print(locations)
locations.reverse()
print(locations)
locations.reverse()
print(locations)
locations.sort()
print(locations)
locations.sort(reverse=True)
print(locations)

['Greece', 'Italy', 'France', 'Hawaii', 'London']
['France', 'Greece', 'Hawaii', 'Italy', 'London']
['Greece', 'Italy', 'France', 'Hawaii', 'London']
['London', 'Hawaii', 'France', 'Italy', 'Greece']
['Greece', 'Italy', 'France', 'Hawaii', 'London']
['France', 'Greece', 'Hawaii', 'Italy', 'London']
['London', 'Italy', 'Hawaii', 'Greece', 'France']

In [ ]:
#3-9

In [16]:
#3-9
dinner_list = ['Tom Segura', 'Zach Bryan', 'Tj Watt']
message_tom = f"hello {dinner_list[0]} you are invited for dinner "
message_zach = f"hello {dinner_list[1]} you are invited for dinner "
message_tj = f"hello {dinner_list[2]} you are invited for dinner "

print(message_tom)
print(message_zach)
print(message_tj)
len(dinner_list)

hello Tom Segura you are invited for dinner
hello Zach Bryan you are invited for dinner
hello Tj Watt you are invited for dinner

3

In [37]:
#3-10
print(football_teams[2].title())
print(football_teams[-1])
print(f'my favirote team is the {football_teams[0]}.')
football_teams[1]="Giants"
print(football_teams)
football_teams.append('Bengals')
print(football_teams)
football_teams.insert(3, "Bills")
print(football_teams)
del football_teams[3]
print(football_teams)
popped_teams = football_teams.pop()
print(football_teams)
print(popped_teams)

print(sorted(football_teams))
football_teams.sort(reverse = True)
print(football_teams)
football_teams.reverse()
print(football_teams)
len(football_teams)

Ravens
Chiefs
my favirote team is the Steelers.
['Steelers', 'Giants', 'Ravens', 'Browns', 'Chiefs']
['Steelers', 'Giants', 'Ravens', 'Browns', 'Chiefs', 'Bengals']
['Steelers', 'Giants', 'Ravens', 'Bills', 'Browns', 'Chiefs', 'Bengals']
['Steelers', 'Giants', 'Ravens', 'Browns', 'Chiefs', 'Bengals']
['Steelers', 'Giants', 'Ravens', 'Browns', 'Chiefs']
Bengals
['Browns', 'Chiefs', 'Giants', 'Ravens', 'Steelers']
['Steelers', 'Ravens', 'Giants', 'Chiefs', 'Browns']
['Browns', 'Chiefs', 'Giants', 'Ravens', 'Steelers']

5

In [43]:
#Print the cubes of all of the integers that are a multiple of 7 between 60 and 85
for i in range(60,86):
  if i % 7 == 0:
    print(i**3)
print("these are the cubes of those numbers")

250047
343000
456533
592704
these are the cubes of those numbers

In [52]:
x= 40
type(x)
value = 7.4 * x + 51
print(value)

x=50
value = 7.4 * x + 51
print(value)

x = 120
value = 7.4 * x + 51
print(value)

x = -8
value = 7.4 * x + 51
print(value)

x = 6
value = 7.4 * x + 51
print(value)

347.0
421.0
939.0
-8.200000000000003
95.4