<a href="https://colab.research.google.com/github/lvila001/CSC221_lvila001/blob/main/Assignment_16_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 16-17

Chapter 1 Python Distilled

Logan Vilardi

1.1

In [ ]:
#In interactive python you can use '_' as a variable for the result of last operation(Doesnt Work Here)
#6000 * 90
#_ + 30

1.2

In [ ]:
#the '#' puts statements into a text file


#% python3 hello.py
#The above statement will

1.3

In [ ]:
#primitives variables and expressions
x = 3498 #variable refering to a int

x: int = 45 # does same thing but improves code readibility

#expression
2 * 4 + 3 #combo od primitives names and operators

#while statements
principal = 1000
rate = .05
num_years = 5
year = 1

while year <= num_years:
  principal = principal * (1+ rate)
  print(year, principal)
  year += 1

print(f'{year:>3d} {principal:0.2f}')

1 1050.0
2 1102.5
3 1157.625
4 1215.5062500000001
5 1276.2815625000003
  6 1276.28

1.4

In [ ]:
#Arithmetic Operators
#The only operators to note are "/" vs "//" and "%"

3/3 #Leaves a floating point number

3//3 #leaves truncates the result

5//3#takes off decimnal

5%3 #gives the remainder of the division

#mathmatic functions

abs(-55) #absolute valued
divmod(5,3) #gives you the result of (//, %)
pow(5,3,4) #pow(x,y,z) = x**y % z
round(4903.897987, 1) #rounds to nearest multiple of of 10th to 1st power

#comparison operators
a = 4
b = 3
a == b #returns false
a =! b #returns true

1.5

In [ ]:
#conditionals and control flow
minutes = 3
if minutes == 9:
  pass #does nothing
elif minutes >3:
  print('takin time bud')

you = 3
op = 4
win = 'yes' if you > op else 'no'#different way to put if statement. interesting

print(win)

#walrus operator(still learing)
x = 25
while (x := x // 5) != 0:
  print(x)

#break
n = 36
while n != 43:
  (n := n + 1)
  if n == 39:
    break #stops loop
  print(n)

print('done break')
n = 36
#continue
while n > 0:
  (n:= n // 3)
  if n == 4:
    continue #skips the print
  print(n)

no
5
1
37
38
done break
12
1
0

1.6

In [ ]:
#Text Strings
print('''wow look
at that

beautiful sunset''')#triple quotes adjusts for formatting
print('4'#regular quotes do not
'2'
'3'
'w')

principal = 1000
rate = .05
num_years = 5
year = 1
#using format() method and % to format strings
print('{0:>3d} {1:0.2f}'.format(year, principal))

a = 'hello world'
#replace
b = a.replace('hello', 'hello cruel')
print(b)

c = a + 'ly'
print(c)

#non string to string
a = '3'
print(str(a))

print(repr(a))

print(format(0, '4d'))

#format
x = 12.39733
print(format(x, '.5f'))
f'{x:0.3f}'

wow look
at that

beautiful sunset
423w
  1 1000.00
hello cruel world
hello worldly
3
'3'
   0
12.39733

'12.397'

1.7

In [ ]:
#file input output

#to open contents and read each line as text strings
with open('data.txt') as file:
  for line in file:
    print(line, end='')#the "end='' " omits the extra new line

print(f"\n")

#alternate way to do this without "with"
file = open('data.txt')
for line in file:
  print(line, end='')
file.close()#With this way you must remeber to call close

#reading file entirely as a string
with open('data.txt') as file:
  data = file.read()

print(f"\n")

#chunk method
with open('data.txt') as file:
  while (chunk := file.read(10000)):
    print(chunk, end="")

with open('out.txt' , 'wt') as out:
  while year <= num_years:
    principal = principal * (1+rate)
    print(f'{year:>3d} {principal: 0.2f}', file=out)
    year += 1

data.txt
This is the
practice
file that
i am making
:)

data.txt
This is the
practice
file that
i am making
:)

data.txt
This is the
practice
file that
i am making
:)

1.8

In [ ]:
#lists
foods = ['popcorn', 'pizza', 'yogurt', 'apples', 'eggs']

print(foods[-1]) #print last item

foods.append('burger')
print(foods)

foods.insert(1, 'peanuts') #puts it in specific position, remember 1 is actually P2
print(foods)

for food in foods:
  print(food)
print(f'\nReplaced')
#replace in list
foods[1] = 'bacon'
print(foods)

#using list()
letters = list('logan')
print(letters)

eggs
['popcorn', 'pizza', 'yogurt', 'apples', 'eggs', 'burger']
['popcorn', 'peanuts', 'pizza', 'yogurt', 'apples', 'eggs', 'burger']
popcorn
peanuts
pizza
yogurt
apples
eggs
burger

Replaced
['popcorn', 'bacon', 'pizza', 'yogurt', 'apples', 'eggs', 'burger']
['l', 'o', 'g', 'a', 'n']

1.9

In [ ]:
#Tuples
holding = ('GOOG', 100, 490.10)
address = ('www.python.org', 80)

#you cannot replace, delete or append new elements into a existing tuple
a = () #empty tuple
b= ("item",) #trailig coma

#a = a.append(2)
#^doesnt work^

print(holding)

('GOOG', 100, 490.1)

1.10

In [ ]:
#sets. is unordered collection of unique objects, used to find distinct values
# to make set use {} or set()


my_set = {2, 4, 9, 4, 1, 'pop'}
set_my = {'young', 'old', 'miserable', 2}
print(my_set) #it only prints values once and

#empty set
empty = set()

a = my_set | set_my #union puts them together
print(a)

b = my_set & set_my #intersection, what is shared?
print(b)

c = my_set - set_my #differance, shows what unique items that set_my doesnt have but my_set has
print(c)

d = my_set^ set_my #gives items in each set but not contained in both
print(d)

#adding on and removing from the set
my_set.add(3)
print(my_set)
my_set.update({1,10,19,18})#update can add multiple items, dont forget the curlys
print(my_set)

{1, 2, 4, 9, 'pop'}
{1, 2, 4, 'young', 9, 'miserable', 'pop', 'old'}
{2}
{1, 'pop', 4, 9}
{1, 'young', 4, 9, 'miserable', 'pop', 'old'}
{1, 2, 3, 4, 9, 'pop'}

1.11

In [ ]:
#Dictionaries
#mapping between keys and values, created by enclosing key value pairs, seperated by :, in between {}

msft = {
    'name': 'Microsoft',
    'shares': 100,
    'price': 200
}

name = msft['name']
name
cost = msft['shares']*msft['price']#you can multiply the items within a list
cost
msft['shares'] = 75 #replaces the shares
msft['shares']
msft['date'] = '2023-11-10' #makes a new key value pair
msft['date']

prices = {
    'msft' : 75,
    'aapl': 150,
    'nvda': 400,
    'goog': 350
}

#dictionary membership testing with in operator
if 'msft' in prices:
  p = prices['msft']
else:
  p = 0
print(p)

#more simply put with the get method
p = prices.get('msft', 0)
p

#del
del prices['goog']
prices

#keys do not just have to be strings, you use all types of python objects as keys like numbers and tuples
prices[('goog', '2023-11-10')] = 200
prices
prices['goog', '2023-11-10'] = 200 #enters as tuple
prices

#mutable date structures like lists and sets and other dictionaries, CANNOT be used as keys

pairs = [('msft', 100), ('goog', '200'), ('nvda', 400)]
dict(pairs)

list(prices)

#for loop to list offf the keys and values(you can also do just a key or just a value)
for sym, price in prices.items():
  print(f'{sym} = {price}')

75
msft = 75
aapl = 150
nvda = 400
('goog', '2023-11-10') = 200

1.12

In [ ]:
#iteration and looping
# for statement
for n in range(0, 100,4): #this range starts at 0 ends at 100 and counts up by 4
  print(n/2)

for key in prices:
  print(key)

0.0
2.0
4.0
6.0
8.0
10.0
12.0
14.0
16.0
18.0
20.0
22.0
24.0
26.0
28.0
30.0
32.0
34.0
36.0
38.0
40.0
42.0
44.0
46.0
48.0
msft
aapl
nvda
('goog', '2023-11-10')

1.13

In [6]:
#functions
def multiply(a: int, b: int) -> int: #This is a way you can make the inputs and outputs clear
  return a * b

def checkin(name, location = 'new york'):
  print(f'{name} checked in at {location} location')

checkin('logan')

logan checked in at new york location

Exceptions

In [1]:
#if errors occur, exceptions are raised and traceback messages appear
def divide_numbers(a, b):
    try:
        result = a / b
    except ZeroDivisionError as zd_error:
        print(f"Error: {zd_error}. You can't divide by zero!")
    except TypeError as type_error:
        print(f"Error: {type_error}. Please provide valid numbers.")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
    else:
        print(f"The result of {a} divided by {b} is: {result}")


divide_numbers(10, 2)
divide_numbers(10, 0)
divide_numbers('10', 2)

The result of 10 divided by 2 is: 5.0
Error: division by zero. You can't divide by zero!
Error: unsupported operand type(s) for /: 'str' and 'int'. Please provide valid numbers.

Program Termination

In [2]:
raise SystemExit()#exit without an error
raise SystemExit('something is wrongf') #exit with error

#this is how you force a program to quit

SystemExit: ignored

/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

Object and Classes

In [12]:
from os import ST_MANDLOCK
#Object and Classes
#all objects in a program are objects, including strings and lists

#the dir function lists the availible methods on a obnject
items = [37, 35]
#dir(items)

#class statement defines new types of objects.
class Stack:
  def __init__(self): #initialize the stack
    self._items = [] #names proceeded by a _ are taken as "private" and should be treated as internal implementation. however this isnt enforced by python itself

  def push(self, items):
    self._items.append(items)

  def pop(self):
    return self._items.pop()

  def __repr__(self):
    return f'({type(self).__name__} at Ox{id(self):x}, size={len(self)}'

  def __len__(self):
    return len(self._items)

s  = Stack()
s.push('dave')
s.push(42)
s.push([3,4,5])
x = s.pop()
y = s.pop()

len(s)
s

(Stack at Ox7e2b935a2560, size=1

1.17 Modules

In [18]:
#as python programs grow you may want to break them up into into multiple files.
#to do this use the import statement
#to create the module put the relevant statements and definitions into a file with .py suffix

#the book uses the csv module that is goof for dealing with files with comma seperated values

#heres an example of the math library
import math
dir(math) #this shows you what function are in math\
#heres an example using math module

def calculate_square_root(number):
    result = math.sqrt(number)
    print(f"The square root of {number} is: {result}")

calculate_square_root(25)

The square root of 25 is: 5.0

1.18 Script Writing

In [1]:
#a file can either be executed as a scriptt or a library using import

def calculate_square(number):
    return number ** 2

if __name__ == "__main__":
    for i in range(1, 6):
        result = calculate_square(i)
        print(f"The square of {i} is: {result}")

The square of 1 is: 1
The square of 2 is: 4
The square of 3 is: 9
The square of 4 is: 16
The square of 5 is: 25

1.19 Packages

In [ ]:
#for larger programs you organize code into packages
#a package is a heirarchal collection of modules
#on filesysyem put your code as a collection of files in a directory like this

tutorial/
  __init__.python
  readport.py
  pcost.py
  stack.py

#imports between files withthin the same package may be tricky. to fix this you can

from tutorial import readport

1.20 Structuring A Application

In [ ]:
#as you work on larger applications you may have to have a large mix of your own code as well as that of third party code
#it is standard practie to organize large code practices into directories(contains .py files and include __init__)

#you may also want to have tests, scripts, and documentations these will live in a different set of directories seperate from
#put all of these into a top level directory to hold your entire project

#this is an example
tutorial-project/
  tutorial/
    __init__.py
    readport.py
    pcost.py
    stack.py

  tests/
    test_stack.py
    test_pcost.py

  examples/
    sample.py

  doc/
    tutorial.txt

1.21 Managing Third-Party Packages

In [2]:
#to install third party packages

#bash % python3 -m pip install somepackage

#to see where a python package is comning from

import pandas
panda.__file__

NameError: ignored